<app-navbar></app-navbar>

<div class="d-flex  flex-lg-row justify-content-evenly align-bottom">
  <button mat-button class="btn-primary" (click)="clickPrevius()">previus</button>
  <button mat-button class="btn-primary" (click)="clickNext()">next</button>

</div >

<app-datagrid></app-datagrid>

<div class="d-flex  flex-lg-row justify-content-evenly align-bottom">
  <button mat-button class="btn-primary" (click)="clickPrevius()">previus</button>
  <button mat-button class="btn-primary" (click)="clickNext()">next</button>

</div >

